*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: WHITE;
    background-color: #111111;
    font-family: 'Circular Std Bold',Helvetica,Arial,sans-serif;
}

.animation_block{
    width: 0px;
    height: 70px;
    background-color: WHITE;
    top:0px;
    left: 0px;
    transform: translate3d(10px, -70px, 0);
    border-radius: 50px;
    z-index: 10;
    animation: left-to-right 1s cubic-bezier(0.23, 1, 0.320, 1) forwards;
    animation-delay: .7s;
  }
    @keyframes left-to-right {
      0%   {
        
      }
      50%{
        width:270px; 
        margin-left:0px;
      }
      100% {
        width:0px;
        margin-left:270px;
      }
    }
    
.head, .animate_name{
    animation: show-up 1s cubic-bezier(0.23, 1, 0.320, 1) forwards;
    animation-delay: 1.1s;
    margin: 100px 0 0 0;
    
}
    @keyframes show-up{
        100%{
        margin-top: 0px;
        }
    }

.left_container, .right_container{
    display:block;
    margin: 0;
}

.left_container {
    width: 100vw;
    height: 100vh;
}
    .header{
        width:100vw;
        top:0px;
        left:0px;
    }   
    .header_border{
        width:100vw;
        height: 100vh;
        background: #111111;
        border-bottom-right-radius: 50%;
        border-top-right-radius: 50%;
        background: linear-gradient(to top, WHITE 50%, transparent 50%);
        background-size:100% 200%;
        animation: draw-border 1s cubic-bezier(0.23, 1, 0.320, 1) forwards;
        animation-delay: 1.1s;
    }
    @keyframes draw-border {
        100%{
        background-position: bottom; 
        }
    }
    .header_border_cover{
        width:100vw;
        height: 100vh;
        background: #111111;
    }
        .header_container{
            width:280px;
            height: 300px;
            transform: translate3d(0,170px,0);
            margin: auto;
        }
            .fname_container{
                width: 280px;
                height: 70px;
                margin: 0px 0 0 10px;
                overflow: hidden;
                font-size: 30px;
            }
            .lname_container{
                width: 270px;
                height: 70px;
                margin: -50px 0 0 10px;
                overflow: hidden;
                font-size: 30px;
            }
            .description{
                width: 270px;
            }
            .description_name_container{
                width: 270px;
                height: 30px;
                margin: 0 0 0 10px;
                overflow: hidden;
                font-size: 15px;
                letter-spacing: 2px;
            }
            .description_container{
                width: 270px;
                height: 60px;
                margin: 0 0 0 10px;
                overflow: hidden;
                font-size: 15px;
                letter-spacing: 2px;
            }

            .right_container {

            }
                
        
        
        .company_profile_page {
            display: block;
            width: 100%;
            height: 700px;
            color: #111111;
            background-color: white;
            margin: auto;
        }
            .company_profile_page_wrapper {
                width: 280px;
                color: #111111;
                background-color: white;
                transform: translate3d(0, 60px, 0);
                margin: auto;
            }
                .company_header{
                    width: 280px;
                    
                    color: #111111;
                    background-color: white;
                }
                .comapny_header_h1{
                    color: #111111;
                    background-color: white;
                }
                .imaplogosrc{
                    max-width:100%;
                    max-height:auto;
                }
                .imap_logo{
                    width: 250px;
                    height: 200px;
                    background-color: white;
                    margin: auto;
                    
                }
                .company_profile_p{
                    width: 280px;
                    height: 350px;
                    transform: translate3d(0, 10px, 0);
                    text-indent: 20px;
                    text-align: justify;
                    text-justify: inter-word;
                    color: #111111;
                    background-color: white;
                    
                }
        .what_i_do_page{
            display: block;
            width: 100%;
            height: 1100px;
            background-color: white;
            color: black;
            border: 1px solid red;
        }
            .what_i_do_page_wrapper {
                width: 280px;
                height: 700px;
                background-color: white;
                color: black;
                transform: translate3d(0, 60px, 0);
                margin: auto;
            }
            .whatidoheader_container{
                color: #111111;
                background-color: white;
            }
            .widp_Header{
                color: #111111;
                background-color: white;
            }
            .widp_p{
                width: 280px;
                height: 150px;
                transform: translate3d(0, 20px, 0);
                text-indent: 20px;
                text-align: justify;
                text-justify: inter-word;
                color: #111111;
                background-color: white;
            }
            .promotions{
                max-width: 200px;
                height: 200px;
                margin: auto;
            }
            .promotion{
                width:200px;
                height: 200px;
            }
